@import url("../../styles/utils/variable.scss");
@import url("../../styles/utils/utils.scss");
.app-shell-sidebar_hide {
    display: none;
}
.app-shell-baricon {
    display: inline-block;
}

.ant-layout-sider-trigger {
    background: #ebcdb3 !important;
    color: #333 !important;

    &:hover {
        background: #f79c4c !important;
    }
}

@media screen and (min-width: 767px) {
    .app-shell-sidebar_hide {
        display: block;
    }
    .app-shell-baricon {
        display: none;
    }
}