.gallery {
  --s: 140px;
  --g: 10px;
  display: grid;

  & > img {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    transform: translate(var(--_x, 0), var(--_y, 0));

    &:nth-child(1) {
      --_y: calc(-100% - var(--g));
    }
    &:nth-child(7) {
      --_y: calc(100% + var(--g));
    }
    &:nth-child(3),
    &:nth-child(5) {
      --_x: calc(-75% - 0.87 * var(--g));
    }
    &:nth-child(4),
    &:nth-child(6) {
      --_x: calc(75% + 0.87 * var(--g));
    }
    &:nth-child(3),
    &:nth-child(4) {
      --_y: calc(-50% - 0.5 * var(--g));
    }
    &:nth-child(5),
    &:nth-child(6) {
      --_y: calc(50% + 0.5 * var(--g));
    }
  }
}
